---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=b2e67569e846a5dc82db6068e3038122&q=Shostka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":33.47,"lat":51.86},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":271.172,"pressure":997.49,"humidity":82,"temp_min":271.172,"temp_max":271.172,"sea_level":1019.41,"grnd_level":997.49},"wind":{"speed":7.66,"deg":287.001},"clouds":{"all":80},"dt":1483443153,"sys":{"message":0.0026,"country":"UA","sunrise":1483422783,"sunset":1483451338},"id":693942,"name":"Shostka","cod":200}'
  recorded_at: Tue, 03 Jan 2017 11:40:09 GMT
recorded_with: VCR 3.0.3
